img{
    width: 300px;
    height: auto;
}

h1{
    font-size: 35px;
    font-weight: bold;
}

#description{
    color: aqua;
}

#ingredients{
    color: red;
}

#steps{
    color: goldenrod;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

ol li{
    background-color:antiquewhite;
}

ul li{
    font-family:'Courier New', Courier, monospace;

}